#title {
  text-align: center;
}

#menu {
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#menu td,
#menu th {
  border: 1px solid #ddd;
  padding: 12px;
}

#menu tr:hover {
  background-color: #ddd;
}

#menu th {
  padding: 10px;
  text-align: center;
  background-color: grey;
  color: white;
}

.opration {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}

.button:active {
  border: 1px solid blue;
}
